.App {
  text-align: center;
  font-family: sans-serif;
}

.feedback-tab{
  background-color: rgb(198, 211, 217);
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  transform: rotate(-90deg) translate(50%,-28px);
  position: fixed;
  transform-origin: 100% 0;
  cursor: pointer;
  border-radius: 6px;
  padding: 6px 12px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.feedback-tab:hover {
  border-bottom: 1px solid black;
  transform: rotate(-90deg) translate(50%,-34px);
}
